$font-default: "Lato", sans-serif;
$font-heading: "Outfit", sans-serif;

$font-size-small: 1.125rem;
$font-size-regular: 1.25rem;
$font-size-large: 2rem;
$font-size-largest: 2.25rem;

$color-tint-1: #ffffff;
$color-tint-2: #f0f0f0;
$color-tint-3: #d8dadb;
$color-tint-4: #989b9e;
$color-tint-5: #272626;
$color-tint-6: #000000;

$color-highlight: #f43268;
